<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chatboard</title>
</head>
<link rel="stylesheet" href="css/styles.css">
<link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- regular js -->
<script type="text/javascript" src="js/index.js"></script>
<script src="/socket.io/socket.io.js"></script>

<nav class="sidebar">
  <div class="sidebar-header">
    NodeJS Chat
  </div>
  <ul class="sidebar-content" id="sidebar-content-long">
    <a href="#profile">
      <li class="sidebar-element neu-dark">Profile</li>
    </a>
    <a href="#rooms">
      <li class="sidebar-element neu-dark">Rooms</li>
    </a>
    <a href="#messages">
      <li class="sidebar-element neu-dark">Messages</li>
    </a>
    <a href="/logout">
      <li class="sidebar-element neu-dark">Logout</li>
    </a>
  </ul>
</nav>

<body onload="init();">
  <div class="main" style="display: none;">
    <h2 id="name"><%= name %> joined!</h2>
    <div class="chatbox">
      <div class="chat-content" id="chat-content">
        <div class="msg-content" id="msg-content">
        </div>
        <form class="chat-input" action="">
          <textarea type="text" name="message" value="" contenteditable="" role="textbox" id="text-msg"></textarea>
          <button type="submit" name="button">Send</button>
        </form>
      </div>
    </div>
  </div>

  <!-- Creating rooms -->
  <div class="main" id="rooms">
    <h1>Rooms</h1>
    <% Object.keys(rooms).forEach(room => { %>
    <div class="" style="display: flex; flex-direction: row; height: inherit; margin: 0; padding: 0;">
      <div class="neu-dark" style="margin: 20px; color: black; background-color: #add8e6; width: 300px; font-size: 1.2rem; float: left;">
        <%= room %> <a href=/rooms/<%=encodeURI(room)%> style="float: right; color: #A9A9A9">Join</a>
      </div>
      <a style="display: flex; float: right; justify-content: center; align-items: center;" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>

    </div>
    <% }) %>
    <div class="neu-dark" style="margin: 20px; color: black; background-color: #add8e6; width: 300px; font-size: 1.2rem;">
      <form class="" action="/newroom" method="post" id="newroom-form">
        <textarea type="text" name="newroom" value="" class="new-room" contenteditable="" role="textbox" id="newroom" placeholder="Create New Room"></textarea>
        <a style="float: right; color: #A9A9A9" onclick="newroomform()">Create</a>
      </form>
    </div>
  </div>

  <!-- Personal messages -->
  <div class="main" id="messages" style="display:none;">
    <h1>there's messages here</h1>
  </div>

  <!-- Possible user profile? -->
  <div class="main" id="profile" style="display:none;">
    <div class="" style="display: flex;">
      <i class="fa fa-user-circle fa-5x" aria-hidden="true"></i>
      <h1 style="display: flex; justify-content: center; align-items: center; margin: 20px;"><%= name %></h1>
    </div>
    <div class="">
      <h2 style="margin:20px 0 10px 0;">About <span><i class="fa fa-pencil" aria-hidden="true" style="transform: scale(0.7); margin: 0 0 0 5px;"></i></span> </h2>
      <p style="font-family: 'Lato', sans-serif; font-size: 1.1rem; line-height: 2rem;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>
</body>

</html>
