<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Chat | Register</title>
  </head>
  <link rel="stylesheet" href="css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
  <body>
    <h1 class="login-title">Register</h1>
    <div class="login-center">
      <div class="login-box login-center">
        <!-- Makes POST request to /login route -->
        <form action="/register" method="POST">
          <div class="login-name">
            <h2><label for="name">Name</label></h2>
            <input type="text" class="field-input" name="name" required>
          </div>
          <div class="login-email">
            <h2><label for="email">Email</label></h2>
            <input type="email" class="field-input" name="username" required>
          </div>
          <div class="login-pwd">
            <h2><label for="password">Password</label></h2>
            <input type="password" class="field-input" name="password" required>
          </div>
          <button type="submit" class="right" style="margin-right: 10px;">Register</button>
        </form>
        </div>
    </div>
    <div class="login-title">
      <h3 style="font-size: 1.3rem">Already have an account?</h3>
      <button type="button" class="logreg"><a href="/login">Login</a></button>
    </div>
  </body>
</html>
