<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chatboard</title>
</head>
<link rel="stylesheet" href="/css/styles.css">
<link href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- regular js and Socket.io for chat -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.slim.js" integrity="sha512-kWv0sOT0tLlBzd5MPS2F8wZLuSFAZZ43SlpG/vIAjWAsafdtZ+9KJT9l1c6Bd7kXW90qQ8Peiu2mg8VIsAZkOg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript" src="/js/index.js"></script>
<script type="text/javascript">
  var roomName = `<%=roomName%>`;
</script>
<script type="text/javascript" src="/js/client.js"></script>
<nav class="sidebar">
  <div class="sidebar-header">
    NodeJS Chat
  </div>
  <ul class="sidebar-content" id="sidebar-content-long">
    <a href="/">
      <li class="sidebar-element neu-dark"><i class="fa fa-angle-left" aria-hidden="true"></i> back</li>
    </a>
  </ul>
</nav>

<body onload="init();">
  <div class="main">
    <div class="" id="name" style="display:none;"><%=name%></div>
    <h2 id="">Room: <%= roomName %></h2>
    <div class="chatbox">
      <div class="chat-content" id="chat-content">
        <div class="msg-content" id="msg-content">
        </div>
        <form class="chat-input" action="">
          <textarea type="text" name="message" value="" contenteditable="" role="textbox" id="text-msg"></textarea>
          <button type="submit" name="button">Send</button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>
