* {
  margin: 0;
  padding: 0;
  font-family: 'Alata', sans-serif;
}

body {
  background-color: #3f3f44;
  /* possible colors: #bbe1fa, #eae7af, #eae7af, #acdbdf, #eae1e1 */
  color: white;
}

a {
  color: unset;
  text-decoration: none;
}

div {
  padding: 10px;
}

/* Neumorphism setting; used sometimes */

.neu-dark {
  background-color: rgba(0, 30, 30);
  border-radius: 6px;
box-shadow: 9px 9px 9px rgba(15,15,15,0.2), -3px -3px 9px rgba(200,200,200, 0.3);
}

.neu-dark:hover{
  transition: 0.2s all ease-in-out;
  color: rgba(251, 251, 251);
  background-color: rgba(0, 35, 35);
}

.neu-dark:active{
  box-shadow: -3px -3px 9px rgba(200,200,200, 0.3), 9px 9px 9px rgba(15,15,15,0.2);
}

/* Desktop view navbar elements */

.sidebar {
  position: fixed;
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 300px;
  min-width: 100px;
  /* background-color: rgba(45, 45, 45); */
  background-color: #222831;
}

.sidebar-header {
  position: relative;
  font-size: 2rem;
  text-align: center;
  padding: 10px;
  color: rgba(251, 251, 251);
}

.sidebar-content {
  padding: 15px;
  font-size: 1.3rem;
  color: rgba(134, 134, 134);
}

.sidebar-element {
  transition: 0.2s all ease-in-out;
  list-style: none;
  margin: 10px;
  padding: 10px;
  color: rgba(200, 200, 200);
}

img {
  max-width: 100%;
}

.main {
  display: block;
  margin-left: 300px;
  padding: 20px;
}

/* for chat history and chat content */
.chat-content {
  display: flex;
  height: 500px;
  width: 65vw;
  min-width: 50vw;
  border-radius: 6px;
  background-color: rgba(30, 30, 30);
  border-radius: 6px;
  box-shadow: 9px 9px 9px rgba(15,15,15,0.4), -3px -3px 9px rgba(200,200,200, 0.3);
  overflow-y: scroll;
  font-size: 1.2rem;
  color: rgba(228, 134, 59, 1);
}

.msg-content {
  margin: 20px;
  width: 100%;
}

.msg-holder {
  display:inline-block;
  width: 100% !important;
}

.msg {
  background-color: #222831;
  height: 50px;
  margin: 5px 0 5px 0;
  border-radius: 6px;
  width: 40%;
  transition: 0.15s all ease-in-out;
  box-shadow: inset 1px 1px 2px #2b2b2b, inset -1px -1px 2px rgba(91, 91, 91, 0.5);
  overflow-wrap: break-word;
}

.left {
  float: left;
}

.right {
  float:right;
}

/* for message input area */

.chat-input {
  position: absolute;
  display: flex;
  place-items: center;
  justify-content: space-between;
  bottom: 0;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
}

.chatbox textarea {
  transition: 0.15s all ease-in-out;
  padding: 10px 10px 10px 10px;
  min-width: 50vw;
  width: 65vw;
  bottom: 0;
  max-width: 65vw;
  min-height: 27px;
  max-height: 100px;
  background-color: #3f3f44;
  border-radius: 6px;
  box-shadow: inset 2px 2px 5px #2b2b2b, inset -5px -5px 10px rgba(91, 91, 91, 0.5);
  border: none;
  color: white;
  font-size: 1.2rem;
  caret-color: white;
  outline: none;
  resize: none;
}

.chatbox textarea:focus {
  transition: 0.15s all ease-in-out;
  box-shadow: inset 1px 1px 2px #2b2b2b, inset -1px -1px 2px rgba(91, 91, 91, 0.5);
}

/* for the send button */

button {
  transition: 0.15s all ease-in-out;
  border-radius: 6px;
  margin-left: 15px;
  background-color: rgba(228, 134, 59, 1);
  padding: 10px;
  border: none;
  font-size: 1.2rem;
  box-shadow: -5px -5px 10px rgba(255,0,0,0.5), 5px 5px 10px rgba(0,0,0,0.2);
  text-align: center;
  width: 100px;
}

button:focus {
  transition: 0.15s all ease-in-out;
  border:none;
  outline: 0;
}

button:hover{
  transition: 0.15s all ease-in-out;
  box-shadow: -1px -1px 2px rgba(255,0,0,0.5), 1px 1px 2px rgba(0,0,0,0.2);
}


button:active{
  transition: 0.15s all ease-in-out;
  box-shadow: inset -1px -1px 10px rgba(255,0,0,0.5), inset 1px 1px 10px rgba(0,0,0,0.2);
}

@media screen and (max-width: 800px) {
  .sidebar {
    width: 100% !important;
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
  }
  .main {
    margin-left: 0;
  }
}
